{# templates/index.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block body %}
    <h2>Bienvenue sur la page d’accueil</h2>
    <p>Contenu principal du site.</p>

    {% include 'etudiant/list.html.twig' %}
{% endblock %}